<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" (click)="openModal()">
  Add new motorbike
</button>

<!--


<div class="table-responsive">
  <table class="table table-rounded table-striped border gy-7 gs-7">
    <thead>
      <tr class="fw-semibold fs-6 text-gray-800 border-bottom border-gray-200">
        <th class="col1">#</th>
        <th class="col2">Name</th>
        <th class="col3">Description</th>
        <th class="col4">Sale Price</th>
        <th class="col5">Brand</th>
      </tr>
    </thead>
    <tbody *ngIf="motorbikes$ | async as motorbikes">
      <tr *ngFor="let motorbike of motorbikes">
        <td>{{ motorbike.id }}</td>
        <td>{{ motorbike.name }}</td>
        <td>{{ motorbike.description }}</td>
        <td>{{ motorbike.salePrice }}</td>
        <img [src]="motorbike.image" alt="">
      </tr>
    </tbody>
  </table>
</div>

 -->
